{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header"><h1>Find your flight here</h1></div>
    {{ form_start(flights_form) }}
    {{ form_widget(flights_form) }}
    {{ form_end(flights_form) }}
{% endblock %}
