<!DOCTYPE html>
<html>
<head>
    <title>Airlines</title>
</head>
<body>
<ul id="navigation">
    {% for airline in airlines %}
        <li><a href="">{{ airline }}</a></li>
    {% endfor %}
</ul>

</body>
</html>