<!DOCTYPE html>
<html>
<head>
    <title>Airports</title>
</head>
<body>
<ul id="navigation">
    {% for airport in airports %}
        <li><a href="{{ path('outbound_flight_from', {'id': airport.id}) }}">{{ airport }}</a></li>
    {% endfor %}
</ul>

</body>
</html>