{% extends 'base.html.twig' %}

{% block body %}
    <h1>Airline creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <div class="list-group">
        <a href="{{ path('airlines_index') }}">Back to the list</a>
    </div>



{% endblock %}
